  <%- include("layout/header") %>
  
  <main >
      <form action="/" method="post">
        <input
          type="text"
          name="pLanguage"
          id=""
          placeholder="programming languge"
        />
        <button type="submit">Add</button>
      </form>
      <ul>
        <% if(plNames){ %>
        <% for(let x=0; x<plNames.length; x++){  %>    
          <li><%= plNames[x] %></li>
        <% } %>
        <% } else{ %>
        <li>No Data Found</li>
        <% } %>
      </ul>
    </main>

<%- include("layout/footer") %>